Sphinx==4
sphinx-autobuild==2021.3.14
sphinx-book-theme==0.3.3
sphinx-copybutton==0.5.1
sphinx-lesson==0.8.15
sphinx-minipres==0.2.1
sphinx-rtd-theme==1.2.0
sphinx-rtd-theme-ext-color-contrast==0.3.0
sphinx-tabs==3.4.0
sphinx-togglebutton==0.3.2
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-bibtex==2.5.
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml
recommonmark==0.7.1
