<?xml version="1.0"?>
<robot name="desk_leg2">
    <link name="desk_leg2">
        <visual>
            <geometry>
                <mesh filename="../../mesh/desk/desk_leg2.obj" scale="1 1 1"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../../mesh/desk/desk_leg2.obj" scale="1 1 1"/>
            </geometry>
            <sdf resolution="512"/>
        </collision>
    </link>
</robot>
