td ol {
    text-align: center;
    padding-top: 0px !important;
}

dt {
    font-weight: 400;
}


div.admonition dt {
    font-weight: normal;
}

:root {
    --pst-font-size-h2: 28px;
}

:root {
    --pst-font-size-h3: 22px;
}

figure {
    # margin-bottom: 0px;
    # padding-bottom: 0px;
}

dl {
    margin-bottom: 0px;
}

ul, ol {
    margin-left: 0.7em;
    padding-left: 0.7em;
}

ul ul, ol ol, ul ol, ol ul {
    padding-left: 0.3em;
    margin-left: 0.3em;
  }

ul, ol {
    margin-bottom: 4px;
}

blockquote {
    margin: 0px;
}

.wrap-image-right {
    float: right;
    clear: right;
    text-align: right;
    /* margin: 0px 1em 1em 0; */
}

.wrap-image-left {
    float: left;
    margin: 0px 1em 1em 0;
}

input[id^="check_btn"] {
    display: none;
}

input[id^="check_btn"] + label {
    cursor: pointer;
    position: absolute;
}

input[id^="check_btn"] + label > span {
    vertical-align: middle;
    padding-left: 5px;
}

input[id^="check_btn"] + label:before {
    content: "";
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border: 2px solid #F47C7C;
    border-radius: 4px;
}

input[id^="check_btn"]:checked + label:before {
    content: "✔";
    color: white;
    font-size: 14px;
    background-color: #F47C7C;
    border-color: #F47C7C;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border: 2px solid #F47C7C;
    border-radius: 4px;
}

div.check_wrap {
    display: inline-flex;
    align-items: center;
    margin-right: 5px;
    width: 18px;
    height: 18px;
    position: relative;
}

label {
    height: 12px;
}

li p {
    display: inline;
}
