<?xml version="1.0"?>
<robot name="drawer_container_top">
    <link name="drawer_container_top">
        <visual>
            <geometry>
                <mesh filename="../../mesh/drawer/drawer_container_top.obj" scale="1 1 1"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../../mesh/drawer/drawer_container_top.obj" scale="1 1 1"/>
            </geometry>
            <sdf resolution="512"/>
        </collision>
    </link>
</robot>
