<?xml version="1.0"?>
<robot name="square_table_leg1">
    <link name="square_table_leg1">
        <visual>
            <geometry>
                <mesh filename="../mesh/square_table/square_table_leg1.obj" scale="1 1 1"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="../mesh/square_table/square_table_leg1.obj" scale="1 1 1"/>
            </geometry>
            <sdf resolution="512"/>
        </collision>
    </link>
</robot>
